<%= render "nav" %>
<h1 id="fancy">Datepicker and tooltip</h1>

<div>
  <button type="button" data-tooltip title="this is a contrived tooltip example">
    Tooltip
  </button>
</div>

<div>
  <label>
    Choose a date
    <input data-datepicker />
  </label>
</div>
